<div fxLayout="column">
  <div>
    <form style="width: 100%; padding: 0 24px;" class="client-form" [formGroup]="clientsForm">
      <mat-form-field class="matFormField" appearance="outline">
        <input name="client" formControlName="client" type="text" matInput placeholder="Client Name"
          style="color: #a1a2b6;" [matAutocomplete]="clientAutoComplete">
        <mat-autocomplete #clientAutoComplete="matAutocomplete">          
            <!-- <mat-option
              *ngFor="let client1 of (applicationStateService.filteredClientAndSubClient$ | async) || []; let filterClient"
              (onSelectionChange)="onChangeClient($event)" 
              [value]="client1?.ClientName" 
              style="font-size: 12px">
              {{client1?.ClientName}}
            </mat-option> -->
        </mat-autocomplete>
      </mat-form-field>
    </form>

  </div>
  <div>
    <mat-nav-list>
      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['rating']">
          <mat-icon>attach_money</mat-icon>
          <span class="nav-caption">Rating </span>
        </a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['shipment']">
          <mat-icon>local_shipping</mat-icon>
          <span class="nav-caption">Shipment </span>
        </a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['shipmentTL']">
          <mat-icon>local_shipping</mat-icon>
          <span class="nav-caption">Shipment TL</span>
        </a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['product']">
          <mat-icon>ballot</mat-icon>
          <span class="nav-caption">Product</span>
        </a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['location']">
          <mat-icon>location_searching</mat-icon>
          <span class="nav-caption">Location</span>
        </a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNavEmit()" [routerLinkActive]="['is-active']">
        <a [routerLink]="['reports']">
          <mat-icon>print</mat-icon>
          <span class="nav-caption">Reports </span>
        </a>
      </mat-list-item>

    </mat-nav-list>
  </div>
</div>