<!-- <div id="menu" fxLayout="column" fxLayoutGap="10px"  >

<div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="1 1 90vh">
  <H3 fxFlex="1 1 auto">Menu Bar</H3>

<div fxFlex >Home</div>
<div fxFlex > Quote</div>
<div fxFlex >Shipment</div>
<div fxFlex >Reports</div>

</div>

</div> -->



  <!-- <mat-list-item>
    <!-- can use for loop on it-->

  <!--<mat-icon>info</mat-icon>

    <span class="nav-caption">Login</span>
  </mat-list-item> -->

  <!-- <mat-list-item>
    <!-- can use for loop on it-->

  <!--<mat-icon>account_circle</mat-icon>

    <span class="nav-caption">Sign up</span>
  </mat-list-item> -->

      <mat-nav-list>
        <mat-list-item>
          <a href="/rating">
            <!-- can use for loop on it-->
            <mat-icon>attach_money</mat-icon>
            <span class="nav-caption">Rating </span>
          </a>
        </mat-list-item>
      
        <mat-list-item>
          <!-- can use for loop on it-->
          <a href="/shipment">
            <mat-icon>local_shipping</mat-icon>
            <span class="nav-caption">Shipment </span>
          </a>
        </mat-list-item>
      
        <mat-list-item>
          <a href="/shipmentTL">
            <!-- can use for loop on it-->
            <mat-icon>local_shipping</mat-icon>
            <span class="nav-caption">Shipment TL</span>
          </a>
        </mat-list-item>
      
        <mat-list-item>
          <a href="/product">
            <!-- can use for loop on it-->
            <mat-icon>ballot</mat-icon>
            <span class="nav-caption">Product</span>
          </a>
        </mat-list-item>
      
        <mat-list-item>
          <a href="/location">
            <!-- can use for loop on it-->
            <mat-icon>location_searching</mat-icon>
            <span class="nav-caption">Location</span>
          </a>
        </mat-list-item>
      
        <mat-list-item>
          <a href="/reports">
            <!-- can use for loop on it-->
            <mat-icon>print</mat-icon>
            <span class="nav-caption">Reports </span>
          </a>
        </mat-list-item>
      
      </mat-nav-list>

 

