/* div{
 color:lightgray;
  background-color: navy;

} */

.nav-caption{
  padding: 1em 1em;
}

ul{
  color:lightgray;
}

.is-active {
  /* background-color:#6e8485;   */
  background-color:#2E5266FF;
  color: white;
}
