<!-- <div id="menu" fxLayout="column" fxLayoutGap="10px"  >

<div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="1 1 90vh">
  <H3 fxFlex="1 1 auto">Menu Bar</H3>

<div fxFlex >Home</div>
<div fxFlex > Quote</div>
<div fxFlex >Shipment</div>
<div fxFlex >Reports</div>

</div>

</div> -->

<mat-nav-list>

  <mat-list-item>
    <!-- can use for loop on it-->

    <mat-icon>info</mat-icon>

    <span class="nav-caption">Login</span>
  </mat-list-item>

  <mat-list-item>
    <!-- can use for loop on it-->

    <mat-icon>account_circle</mat-icon>

    <span class="nav-caption">Sign up</span>
  </mat-list-item>

  <mat-list-item>
    <!-- can use for loop on it-->

    <mat-icon>local_shipping</mat-icon>

    <span class="nav-caption">Some Page</span>
  </mat-list-item>



</mat-nav-list>
