<mat-card>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Shot Name</mat-label>
                    <input type="text" matInput placeholder="Short Name">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Location Type</mat-label>
                    <mat-select name="locationtype">
                        <mat-option *ngFor="let type of locationTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Location Name</mat-label>
                    <input type="text" matInput placeholder="Location Name">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Active Date" [matDatepicker]="ActiveDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="ActiveDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #ActiveDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Deactivation Date" [matDatepicker]="DeactivationDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="DeactivationDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #DeactivationDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Address 1</mat-label>
                    <input type="text" matInput placeholder="Address 1">
                </mat-form-field>
            </div>            
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Address 2</mat-label>
                    <input type="text" matInput placeholder="Address 2">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px" >
                <mat-checkbox class="example-margin" style="padding-bottom: 25px;padding-top:10px;">Is Active</mat-checkbox>
            </div>            
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select name="country">
                        <mat-option *ngFor="let type of country" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Postal</mat-label>
                    <input type="text" matInput placeholder="Postal">
                </mat-form-field>
            </div>   
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input type="text" matInput placeholder="State">
                </mat-form-field>
            </div>  
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" matInput placeholder="City">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Location Reference</mat-label>
                    <input type="text" matInput placeholder="Location Reference">
                </mat-form-field>
            </div>                     
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Inbound Account</mat-label>
                    <input type="text" matInput placeholder="Inbound Account">
                </mat-form-field>
            </div>                      
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Outbound Account</mat-label>
                    <input type="text" matInput placeholder="Outbound Account">
                </mat-form-field>
            </div>
                        
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input type="text" matInput placeholder="Created By">
                </mat-form-field>
            </div>  
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Contact Name</mat-label>
                    <input type="text" matInput placeholder="Contact Name">
                </mat-form-field>
            </div>    
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <div fxFlex="70%"  fxLayoutAlign="center center" >
                    <mat-form-field appearance="fill">
                        <mat-label>Contact Phone</mat-label>
                        <input type="text" matInput placeholder="Contact Phone">                       
                    </mat-form-field>
                </div>
                <div fxFlex  fxLayoutAlign="end center" >
                    <mat-form-field appearance="fill" style="max-width: 50px;">
                        <mat-label>Ext</mat-label>
                        <input type="text" matInput placeholder="Ext">
                    </mat-form-field>                        
                </div>
            </div>            
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Contact Email</mat-label>
                    <input type="text" matInput placeholder="Contact Email">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Open Time</mat-label>
                    <mat-select name="opentime">
                        <mat-option *ngFor="let time of Times" [value]="time">
                            {{time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill">
                    <mat-label>Close Time</mat-label>
                    <mat-select name="closetime">
                        <mat-option *ngFor="let time of Times" [value]="time">
                            {{time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-radio-group aria-label="Select an option" fxLayoutGap="25px">
                    <mat-radio-button value="Approve" style="padding-bottom: 30px;padding-top: 10px;">Approve</mat-radio-button>
                    <mat-radio-button value="UnApprove" style="padding-bottom: 30px;padding-top: 10px">UnApprove</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row" fxFlex fxLayoutGap="5px">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Notes</mat-label>
                    <textarea type="text" matInput placeholder="Notes" style="resize: none;"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxflex fxLayoutAlign="end space-around" fxLayoutGap="25px">
                <button mat-raised-button>Cancel</button>
                <button mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </div>
</mat-card>

<!-- <mat-card>
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="7px" fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Shot Name</mat-label>
                    <input type="text" matInput placeholder="Short Name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Location Type</mat-label>
                    <mat-select name="locationtype">
                        <mat-option *ngFor="let type of locationTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Location Name</mat-label>
                    <input type="text" matInput placeholder="Location Name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Active Date" [matDatepicker]="ActiveDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="ActiveDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #ActiveDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Address 1</mat-label>
                    <input type="text" matInput placeholder="Address 1">
                </mat-form-field>
                <mat-checkbox class="example-margin" style="padding-top:15px;">Is Active</mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Address 2</mat-label>
                    <input type="text" matInput placeholder="Address 2">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Deactivation Date" [matDatepicker]="DeactivationDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="DeactivationDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #DeactivationDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select name="country">
                        <mat-option *ngFor="let type of country" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Location Reference</mat-label>
                    <input type="text" matInput placeholder="Location Reference">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Postal</mat-label>
                    <input type="text" matInput placeholder="Postal">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Inbound Account</mat-label>
                    <input type="text" matInput placeholder="Inbound Account">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input type="text" matInput placeholder="State">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Outbound Account</mat-label>
                    <input type="text" matInput placeholder="Outbound Account">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" matInput placeholder="City">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input type="text" matInput placeholder="Created By">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Contact Name</mat-label>
                    <input type="text" matInput placeholder="Contact Name">
                </mat-form-field>
                <mat-radio-group aria-label="Select an option" fxLayoutGap="25px" style="padding-top:15px;">
                    <mat-radio-button value="Approve">Approve</mat-radio-button>
                    <mat-radio-button value="UnApprove">UnApprove</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Contact Phone</mat-label>
                    <input type="text" matInput placeholder="Contact Phone">
                    
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contact Email</mat-label>
                    <input type="text" matInput placeholder="Contact Email">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill">
                    <mat-label>Open Time</mat-label>
                    <mat-select name="opentime">
                        <mat-option *ngFor="let time of Times" [value]="time">
                            {{time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Close Time</mat-label>
                    <mat-select name="closetime">
                        <mat-option *ngFor="let time of Times" [value]="time">
                            {{time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="Start space-around" fxLayoutGap="25px">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Notes</mat-label>
                    <textarea type="text" matInput placeholder="Notes" style="resize: none;"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end space-around" fxLayoutGap="25px">
                <button mat-raised-button>Cancel</button>
                <button mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </div>
</mat-card> -->