table {
    width: 100%;
  }

  .highlight{
    background: #808080;
  }

  th{
    color: #2E5266FF;
}

.mat-row .mat-cell {
  font-size: 12px;
}

.mat-row .mat-cell {
    font-size: 12px;
}

mat-toolbar
{
    height: 50px;
}

mat-paginator
{
    height: 45px;
}
