<!-- <div fxLayout="column" fxFlex fxLayoutAlign="start stretch">
  <app-top-bar fxFlex="0 0 0"></app-top-bar>
  <div  fxLayout="row" fxFlex="1 1 auto"  fxLayoutAlign="start stretch" >
    <app-side-bar  fxFlex=".1 0 0"></app-side-bar>

    <router-outlet fxFlex="0 0 auto" ></router-outlet>

  </div>

</div> -->

<!--following is implementation of grid above one is flex-->

<!--
<div  gdAreas="header header   | sideLeft midPart "
gdAlignRows="stretch stretch" gdAlignColumns="stratch stratch"
gdColumns="0.1fr 1fr" gdGap="10px" gdRows="auto 1fr" class="grid" >
  <app-top-bar gdArea="header"></app-top-bar>

  <app-side-bar gdArea="sideLeft"></app-side-bar>
  <div  gdArea="midPart" gdGridAlign="stratch stratch"  ><router-outlet></router-outlet></div>

</div> -->

<!-- <div>

  <div>
    <mat-toolbar color="primary">
      <app-top-bar fxLayout="row" fxFlex></app-top-bar>
    </mat-toolbar>
  </div>

  <div>
    <mat-sidenav-container fxFlex fxAlign="start stratch" hasBackdrop="false" autosize>
      <mat-sidenav opened="true" disableClose="true" mode="side">
        <app-side-bar> </app-side-bar>
      </mat-sidenav>
      <mat-sidenav-content fxLayout fxLayoutAlign="center center">
        <div style="margin-top: 10px;">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div> -->



<mat-toolbar color="primary" FxFlex FxFlexLayout>
  <div fxShow="true" fxHide="false">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex>
    <app-top-bar></app-top-bar>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlex fxFill>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false">
    <div>
      <app-side-bar></app-side-bar>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div FxLayout="column" fxFill fxFlex>
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
