table {
    width: 100%;
  }

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: rgb(201, 201, 201);
}

th{
  color: #2E5266FF;
}

.mat-row .mat-cell {
  font-size: 12px;
}