<!-- <div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex><img fxFlex="0 1 auto" src="/assets/images/logo.jpg" alt="Logo"></div>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
  <div>CAP LOGISTICS</div>
  <div>LESS THAN TRUCK LOAD SOLUTIONS</div>
</div>

<div fxLayout="column" fxLayoutAlign="end start">
  <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Phone : 800-227-2471</div>
  <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Fax : 303-333-3802</div>
  <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Email : ltl@caplogistics.com</div>
</div>

<div class="userInfo" fxFlexAlign="center end">
  <div fxFlexAlign="center center">
    <button mat-mini-fab matTooltip="Superadmin" [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value"
      color="warn" style="margin-top: 10px;">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>User Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>vpn_lock</mat-icon>
        <span>Change Password</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </div>
</div> -->

<div fxFlex>
  <div fxLayout="row" fxFlex="12.50%">
    <!-- <div fxFlex><img fxFlex="0 1 auto" src="/assets/images/logo.jpg" alt="Logo"></div> -->
    <div fxFlex style="background-color:white;">
      <img fxFlex="0 1 auto" src="{{clientLogoUrl}}{{applicationStateService.clientID$ | async}}&AuthTicket={{applicationStateService.userTicket$ | async}}"  width="188" height="64">
    </div>
  </div>

  <div fxLayout="column" fxFlex fxLayoutAlign="center center" *ngIf="(applicationStateService.brandInfo$ | async) || []; let brandInfo">
    <div>{{brandInfo[0]?.BrandName}}</div>
    <div>{{brandInfo[0]?.BannerText}}</div>
  </div>

  <div fxLayout="column" fxFlex="15%" fxLayoutAlign="end start" *ngIf="(applicationStateService.clientDefaults$ | async) || []; let clientDefault">
    <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Phone : {{clientDefault[0]?.ContactPhone}}</div>
    <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Fax : {{clientDefault[0]?.ContactFax}}</div>
    <div style="font: 500 13px/20px Roboto, Helvetica Neue, sans-serif;">Email : {{clientDefault[0]?.ContactEmail}}</div>
  </div>

  <div class="userInfo" fxFlex="5%" fxLayoutAlign="center center">
    <div fxFlexAlign="center center">
      <ng-container *ngIf="applicationStateService.username$ | async ; let uName">
        <button mat-mini-fab [matTooltip]="uName"  [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value"
        color="warn" style="margin-top: 10px;background-color: #D3D0CBFF;">
        <mat-icon>perm_identity</mat-icon>        
      </button>      
      </ng-container>     
      <mat-menu #menu>
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>User Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>vpn_lock</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item>
          <a href="login" style="text-decoration: none;color: inherit;">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </a>          
        </button>
      </mat-menu>

    </div>
  </div>
</div>