<mat-card>
  <form [formGroup]="productEntryFormGroup" (ngSubmit)="SaveClick()">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="75px">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Description" formControlName="Description">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Pallet" formControlName="Pallet">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="NMFC" formControlName="NMFC">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-select name="locationtype" placeholder="Class" formControlName='Class'>
            <mat-option *ngFor="let class of classList" [value]="class">
              {{class}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Commodity" formControlName='Commodity'>
        </mat-form-field>

        <div class="mat-form-field-infix ng-tns-c97-8">
          <mat-checkbox color="primary" formControlName='Hazmat'>Hazmat</mat-checkbox>
        </div>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Hazmat Contact" formControlName='HazmatContact'>
        </mat-form-field>


      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Weight" formControlName='Weight'>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Pieces" formControlName='Pieces'>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Length" formControlName='Lenght'>
        </mat-form-field>
        
        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Height" formControlName='Height'>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <input type="text" matInput placeholder="Width" formControlName='Width'>
        </mat-form-field>

        <div class="mat-form-field-infix ng-tns-c97-8">
          <mat-checkbox color="primary" formControlName='Status'>Active</mat-checkbox>
        </div>
        
        <div fxLayout="row">
          <mat-radio-group aria-label="Select an option" fxLayoutGap="25px" color="primary" style="margin-top: 15px;" formControlName="Approve">
            <mat-radio-button value="Approve">Approve
            </mat-radio-button>
            <mat-radio-button value="UnApprove">UnApprove
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div fxLayout="row" fxLayoutGap="25px">
          <button mat-raised-button (click)="closeEnteryPanel()">Cancel</button>
          <button mat-raised-button color="primary" (click)="addProduct()">Save</button>
        </div>

      </div>
    </div>
  </form>
</mat-card>